:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #181818;
}

body {
  font-family: "Fira Code", monospace, Montserrat, sans-serif;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.btn:link, .btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding: 1.5rem 3rem;
  border-radius: 0.5em;
  color: #E1E1E6;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0.4rem 2rem 2.4rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0.4rem 2rem 4rem rgba(0, 0, 0, 0.2);
}
.btn__icon {
  width: 2rem;
}
.btn__text {
  padding: 0 1rem;
}
.btn--linkedin {
  background-image: linear-gradient(to right, #9b59b6 20%, #8e44ad 80%);
  background-size: cover;
  transition: all 0.3s;
}
.row {
  max-width: 144rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3.2rem;
}
.row .col-1 {
  width: calc((100% - 11 * 3.2rem) / 12);
}
.row .col-2 {
  width: calc((100% - 5 * 3.2rem) / 6 );
}
.row .col-3 {
  width: calc((100% - 3 * 3.2rem) / 4);
}
.row .col-4 {
  width: calc((100% - 2 * 3.2rem) / 3);
}
.row .col-6 {
  width: calc((100% - 3.2rem) / 2);
}
.row .col-8 {
  width: calc( ((100% - 2 * 3.2rem) / 3) * 2 + 3.2rem );
}
.row .col-12 {
  width: 100%;
}

.container-flex {
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.row-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 3.2rem;
}
.row-flex:not(:last-child) {
  margin-bottom: 4rem;
}
.row-flex [class^=col-] {
  display: flex;
  align-items: center;
}
.row-flex [class^=col-]:not(:last-child) {
  margin-right: 3.2rem;
}
.row-flex .col-1 {
  background-color: #1AA1E3;
  width: calc((100% - 11 * 3.2rem) / 12);
}
.row-flex .col-2 {
  width: calc((100% - 5 * 3.2rem) / 6 );
}
.row-flex .col-3 {
  background-color: #008A00;
  width: calc((100% - 3 * 3.2rem) / 4);
}
.row-flex .col-4 {
  width: calc((100% - 2 * 3.2rem) / 3);
}
.row-flex .col-6 {
  width: calc((100% - 3.2rem) / 2);
}
.row-flex .col-8 {
  width: calc( ((100% - 2 * 3.2rem) / 3) * 2 + 3.2rem );
}
.row-flex .col-12 {
  width: 100%;
}

.header {
  padding: 2rem 0;
}
.header__avatar {
  background-color: #121214;
  height: 8rem;
  clip-path: circle(40%);
  vertical-align: middle;
}
.header__img {
  height: 8rem;
}
.header__logo {
  font-size: 2.1rem;
  font-weight: 600;
  color: #E1E1E6;
  padding: 1rem 0;
}
.header__nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.header__list {
  display: flex;
  list-style: none;
}
.header__list:hover .header__link--active::after {
  opacity: 0;
}
.header__item {
  padding: 10px;
}
.header__link {
  color: #E1E1E6;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}
.header__link::after {
  content: "";
  background-color: #8257E5;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.header__link:hover::after {
  opacity: 1;
  transform: translateX(-50%);
}
.header__link--active::after {
  content: "";
  background-color: #8257E5;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 0.5s;
}
.header__link--twitter {
  font-size: 1rem;
}

.section-destaque {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, rgba(24, 24, 24, 0.5) 95%), url("../../img/wallpaper-2.jpg");
  background-size: cover;
  background-position: center;
  color: #E1E1E6;
  height: 85vh;
}
.section-destaque__destaque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}
.section-destaque__apresentacao {
  font-size: 1.8rem;
  font-weight: 400;
}
.section-destaque__nome {
  font-size: 3.7rem;
  font-weight: 600;
  display: block;
}
.section-destaque__img {
  height: 70vh;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.section-destaque__img:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}
.section-destaque__img-picture {
  background-image: url("../../img/headset-01-big.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
