//Settings

$grid-width: 144rem;
$gutter-horizontal: 3.2rem;
$gutter-vertical: 4rem;


//Colors
$color-primary-black: #181818;
$color-secondary-black: #121214;

$color-primary-white: #E1E1E6;

$color-primary-purple: #8257E5;
$color-secondary-purple: #563ead;