.header{
  padding: 2rem 0;

  &__avatar{
    background-color: $color-secondary-black;
    height: 8rem;
    clip-path: circle(40%);
    vertical-align: middle;
  }

  &__img{
    height: 8rem;
  }

  &__logo{
    font-size: 2.1rem;
    font-weight: 600;
    color: $color-primary-white;
    padding: 1rem 0;
  }

  &__nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__list{
    display: flex;
    list-style: none;
    &:hover .header__link--active::after{
      opacity: 0;
    }
  }

  &__item{
    padding: 10px;
  
    
    
  }

  &__link{
    color: $color-primary-white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    
    &::after{
      content: "";
      background-color: $color-primary-purple;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      position: absolute;
      bottom: -10px;
      left:50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all .5s;
    }

    &:hover::after{
      opacity: 1;
      transform: translateX(-50%);
    }

    &--active{
      &::after{
        content: "";
        background-color: $color-primary-purple;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        left:50%;
        transform: translateX(-50%);
        opacity: 1;
        transition: all .5s;
      }
    }

    //border-bottom: 3px solid #5429CF;
  }

  &__link--twitter{
    font-size: 1rem;
  }

}