.btn{

  &:link,
  &:visited{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 250px;
   padding: 1.5rem 3rem;
   border-radius: .5em;
   color: $color-primary-white;
   font-size: 1.4rem;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .1);
  }
  &:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: .4rem 2rem 2.4rem rgba($color: #000000, $alpha: .2);
  }

  &:active{
    transform: translateY(-2px) scale(1.02);
    box-shadow: .4rem 2rem 4rem rgba($color: #000000, $alpha: .2);

  }
  
  &__icon{
    width: 2rem;
  }

  &__text{
    padding: 0 1rem;
  }

  &--linkedin{
    background-image: linear-gradient(to right , #9b59b6 20%,#8e44ad 80%);
    background-size: cover;
    transition: all .3s;
    
    &:hover{
    }
  }

}