:root{
  //This defines what 1rem is
  font-size: 62.5%; //1 rem = 10 px 10px / 16px = 62.5%
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;//Make all elements inherit border-box of the body
}

body{
  box-sizing: border-box;
  background-color: $color-primary-black;
}