.section-destaque{
  background-image: linear-gradient(to top ,rgba(black,.8) 5%,rgba($color-primary-black,.5) 95%)
  , url("../../img/wallpaper-2.jpg");
  background-size: cover;
  background-position: center;
  color: $color-primary-white;
  height: 85vh;
  
  &__destaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
  }

  &__apresentacao{
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__nome{
    font-size: 3.7rem;
    font-weight: 600;
    display: block;
  }

  &__img{
    height: 70vh;
    box-shadow: 0 1.5rem 2.5rem rgba(#000000, .2);
    transition: all .3s;
    &:hover{
      box-shadow: 0 1.5rem 3rem rgba(#000000, .5);
      transform: translateY(-4px);
    }
  }
  &__img-picture{
    background-image: url("../../img/headset-01-big.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.section-sobre{
  width: 100%;
  color: $color-primary-white;
  
  &__sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__titulo{
    font-size: 3.2rem;
    font-weight: 500;
  }

  &__conteudo{
    padding: 3rem 0;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__bloco-img{
    background-image: linear-gradient(rgba($color-primary-black,.2),rgba($color-primary-black,1)), url("../../img/imagem-coder-lateral-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    height: 60rem;
    background-color: black;
    margin-left: auto;
    border-radius: 1rem;
  }

  &__img{
    height: 100%;
  }
}

.section-projetos{
  background-color: $color-secondary-black;
  padding: 6rem 0;
}

.section-conhecimento{
  padding: 6rem 0;

  &__conhecimento{
    width: 100%;
  }
}


.footer{
  background-image: linear-gradient(to bottom,rgba($color-primary-black,1),rgba(#000,.3)), url("../../img/wallpaper-3.jpg");
  background-size: cover;
  background-position: right top;
  width: 100%;
  height: 40vh;
}